*{
    padding: 0;
    margin: 0;
}
body{
    background-color:rgb(255, 255, 255);
}
/* Scroll behavior */


.header{
    display: flex;
    height: 80px;
    width: 100vw;
    background-color: rgba(138, 138, 138, 0.897);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    font-family: 'Noto Sans JP', sans-serif;
    z-index: 100;
}
.header h1{
    margin: 25px;
    color: rgb(255, 255, 255);
    padding: 10px;
}
.nav ul{
    padding-right: 50px;
}
.nav li{
    list-style-type: none;
    display: inline;
    padding: 20px;
    font-size: 22px;
}
.nav li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.nav li a:hover{
    color:rgba(97, 255, 5, 0.931)
}
.intro{
    background: rgb(0, 12, 119);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
}
.intro_img{
    max-width: 1100px;
    height: auto;
}
.intro_img h2{
    color: white;
    margin-top: 25px;
    padding: 10px;
    line-height: 2.0;
    font-family: 'Roboto', sans-serif;
}
.responsiveImage{
    max-width: 100%;
    height: auto;
}
.contact{
 display: none;       
}
.mobilenav{
    display: none;
}

/* Project Area */

.projectarea{
    height: auto;
    padding-bottom: 100px;
}
/* Cards */
.projectarea_wrapper{
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin-top: 200px;
}
.card{
    height: auto;
    background-color: aliceblue;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;}
/* Card Hover in and out */
.card::after{
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.card:hover{
    transform: scale(1.2, 1.2);
}
.card:hover:after{
    opacity: 1;
}
/* Card href */
.clickable_cards, .clickable_cards:active, .clickable_cards:visited, .clickable_cards:focus{
    text-decoration: none;
    color: black;
}
.card h2{
    padding: 20px;
    line-height: 2.0;
    font-family: 'Roboto', sans-serif;
}
.card img{
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    background-color: white;
}
.adsonica{
    padding-bottom: 60px;
    padding-top: 60px;
}
.insta ,.headline{
    height: 210px;
}
.card > .headline{
    background-color: black;
}

/* Contact */
.contactarea{
    background-color: black;
    height: 100vh;
}
@media only screen and (max-width: 1200px) {
    .intro{
        display: flex;
        justify-content: center;
        align-items: start;
        height: auto;
    }
    .intro_img{
        margin-top: 0px;
    }
    .intro_img h2{
        color: white;
        margin-top: 25px;
        padding: 30px;
        line-height: 1.6;
        font-family: 'Roboto', sans-serif;
        margin-top: 100px;
    }
    .projectarea{
        height: auto;
        padding-bottom: 100px;
    }
    .projectarea_wrapper{
        padding: 50px;
        max-width: 1300px;
        margin: 0 auto;
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media only screen and (max-width: 780px){
    .header .nav{
        display: none;
    }
    .intro{
        height: auto;
    }
    .intro_img{
        margin-top: 80px;
    }
    .header{
        background-color: black;
        z-index: 100;
    }
    .contact{
        background-color:rgb(97, 255, 5);
        height: 60px;
        width: 60px;
        border-radius: 60%;
        position: fixed;
        display: block;
        top: 87vh;
        left: 75vw;
        bottom: 0;
    }
    .mobilenav{
        background-color:rgb(97, 255, 5);
        position: fixed;
        height: 70px;
        width: 100vw;
        top: 1;
        bottom: 0;
        z-index: 99;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .material-icons a{
        text-decoration: none;
        color: black;
    }
    .projectarea_wrapper{
        max-width: 1100px;
        margin: 0 auto;
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

}
@media only screen and (max-width: 401px){
    .projectarea_wrapper{
        max-width: 1100px;
        margin: 0 auto;
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}